# Virtual environment
venv/

# Environment variables / API keys
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Hugging Face local model cache
huggingface_cache/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db